<div class="container-fluid">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 text-center">
            <form action="">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-sign-in" aria-hidden="true"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Usuário">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Senha">
                </div>
                <div class="mb-3 text-center">
                    <a class="mr-5" href="#">Cadastrar Usuário</a>
                    <a href="#">Esqueceu sua senha?</a>
                </div>
                <button type="submit" class="btn btn-dark">Entrar</button>
            </form>
        </div>
    </div>
</div>