<div class="container-fluid">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 text-center">
            <form action="">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="width: 120px;">Nome</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Digite seu nome">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="width: 120px;">CPF</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Digite seu CPF">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="width: 120px;">E-mail</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Digite seu e-mail">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="width: 120px;">Senha</span>
                    </div>
                    <input type="password" class="form-control" placeholder="Digite sua senha">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="width: 120px;">Confirmação</span>
                    </div>
                    <input type="password" class="form-control"
                        placeholder="Digite sua senha novamente para confirmação">
                </div>
                <a class="btn btn-dark mr-3" style="color: white; width: 100px;">Cadastrar</a>
                <a routerLink="/login" class="btn btn-danger" style="color: white; width: 100px;">Voltar</a>
            </form>
        </div>
    </div>
</div>